version: '3.8'

services:

  cache:
    container_name: "{{ directus_hostname | replace('.', '_') }}_directus-cache"
    hostname: "{{ directus_hostname | replace('.', '_') }}_directus-cache"
    restart: unless-stopped
    image: redis:6

  directus:
    container_name: {{ directus_hostname }}
    hostname: {{ directus_hostname }}
    restart: unless-stopped
    image: directus/directus:10
    expose:
      - 8055
    volumes:
      - ./uploads:/directus/uploads
      # If you want to load extensions from the host
      # - ./extensions:/directus/extensions
    depends_on:
      - cache
    environment:
      KEY: {{ directus_key }}
      SECRET: {{ directus_secret }}

      DB_CLIENT: {{ directus_db_client }}
      DB_CONNECTION_STRING: {{ directus_db_connection_string }}
      NODE_TLS_REJECT_UNAUTHORIZED: 0
      DB_SSL__CA: "{{ directus_db_ssl_ca | default('NONE') }}"

      CACHE_ENABLED: 'true'
      CACHE_STORE: 'redis'
      REDIS: "redis://{{ directus_hostname | replace('.', '_') }}_directus-cache:6379"

      ADMIN_EMAIL: {{ directus_admin_email }}
      ADMIN_PASSWORD: {{ directus_admin_password }}

      # Make sure to set this in production
      # (see https://docs.directus.io/configuration/config-options/#general)
      PUBLIC_URL: 'https://{{ directus_domain }}'

    labels:
      - "com.centurylinklabs.watchtower.enable=true"
      - "traefik.enable=true"
      - "traefik.http.routers.{{ directus_domain | replace('.', '_')}}.rule=Host(`{{ directus_domain }}`)"
      - "traefik.http.routers.{{ directus_domain | replace('.', '_')}}.entrypoints=websecure"
      - "traefik.http.routers.{{ directus_domain | replace('.', '_')}}.tls.certresolver=production"


# traefik_network
# --
#
networks:
  default:
    external:
      name: {{ docker_network }}

